<div class="align-itens-center justify-content-center">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="d-flex  text-dark text-decoration-none"  href="#"> 
         <app-header></app-header>
        </a>
        
        <div class="container justify-content-end d-flex mt-2 md-0 ms-md-0-auto collapse navbar-collapse" id="navbarNav">
            <a href="" class="me-3 py-2 text-dark text-decoration-none">Sobre</a>
            <a href="" class="me-3 py-2 text-dark text-decoration-none">Produtos</a>
            <a href="" class="me-3 py-2 text-dark text-decoration-none">Suporte</a>
            <a href="" class="me-3 py-2 text-dark text-decoration-none">Login</a>
        </div>
      </nav>
</div>